$whiteColor : #fff;
$blackColor : #000;
$color3 : #e4eaee;
$color4: #DFDFDF;
$color5:#525252;
$redColor: #dc1313;
$greenColor:#49af41;
.stripePayCon{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    .stripeContent{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .stripeGateway{
            width: 100%;
            max-width: 450px;
            padding: 50px;
            background-color: $whiteColor;
            border-radius: 10px;
        }
    }
}
.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.subscription_detail_header{
    @extend .flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 12px;
    .subs_cancel{
        font-size: clamp(13px, 15px, 15px);
        border: none;
        border-radius: 8px;
        background: #e82222;
        color: #FFFFFF;
        font-family: inherit;
        padding: 8px 11px;
        cursor: pointer;
        transition: 0.3s ease background-color;
        text-transform: capitalize;
        &:hover{
            background-color: #ee3309;
        }
    }
    .detail_title{
        flex: 1;
        h2{
            @extend .flex;
            gap: 20px;
            width: auto;
            margin: 0px;
        }
    }
    .status{
        border-radius: 6px;
        padding: 5px 10px;
        font-size: min(12px, 14px);
        background-color: #EDA62A;
        color: #FFFFFF;
        &.active{
            background-color: #D1FAB3;
            color: green;
        }        
        &.cancelled{
            background-color: #e8e8e8;
            color: #545969;
        }
    }
}
.subscription_details_block{
    margin-top: clamp(30px, 6vw, 50px);    
    #subscription_detail{
        display: inline-grid;
        gap: 10px 30px;
        grid-template-columns: auto auto;
        div{
            display: inline-flex;
            align-items: center;
            gap: 20px;
        }
    }
}
.wp_sub_details_head{
    font-weight: 600;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 12px;
    font-size: 110%;
    margin-bottom: 12px;
}
#sub_invoice_details{
    gap: 15px 30px;
    padding-top: 20px;
    font-weight: 600;
    div{        
        flex: 0 0 100%;
        position: relative;
        span{
            display: block;
            width: 100%;
            font-weight: normal;
        }
    }
}
.invoice_details_block{
    margin-top: clamp(30px, 6vw, 50px);
    table.subcriptions_invoices_table.shop_table{
        border: none;
        th, td{
            padding-left: 0px;
        }
    }
}
// Cancel Subcription Modal
.cancel_subscription_dialog {
    position: absolute;
    z-index: 10000; /* 1 */
    inset: 0px;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &.is-visible {
        visibility: visible;
    }
    &.in-progress{
        pointer-events: none;
        touch-action: none;        
        .modal-wrapper{
            .wp360_modal_loader{
                display: flex;
            }
        }
    }
    .modal-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 0%, 0.5);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0.3s, opacity 0.3s;
      }
    &.is-visible {
        .modal-overlay {
            opacity: 1;
            visibility: visible;
            transition-delay: 0s;
        }
        .modal-transition {
            transform: translateY(0);
            opacity: 1;
        }        
    }
    .modal-wrapper {
        position: absolute;
        z-index: 9999;
        max-width: 32em;
        background-color: #fff;
        box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
        padding: 1em;
        .wp360_modal_loader{
            position: absolute;
            inset: 0px;
            width: 100%;
            height: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.3);
            z-index: 2;
            .wp360_loader{
                border: 5px solid #f3f3f3;
                border-radius: 50%;
                border-top: 5px solid $redColor;
                width: 50px;
                height: 50px;
                animation: spin 2s linear infinite;
            }
        }
    }
    .modal-transition {
        transition: all 0.3s 0.12s;
        transform: translateY(-10%);
        opacity: 0;
    }    
    .modal-header {
        position: relative;
        background-color: #fff;
        h3{
            font-size: clamp(20px, 3vw, 26px);
        }
    }
    .modal-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        color: #aaa;
        background: none;
        border: 0;
    }
    .modal-close:hover {
        color: #777;
    }
    .modal-heading {
        font-size: 1.125em;
        margin: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .modal-content  {
        &>*:last-child{
            margin-bottom: 0;
        }
        &>*:first-child{
            margin-top: 0;
        }
        form{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            div, input, label, select{
                width: 100%;
            }
            label{
                font-size: inherit;
                font-family: inherit;
                margin-bottom: 8px;
                display: block;
            }
            input, textarea, select{
                padding: 10px 12px;
                font-family: inherit;
                font-size: inherit;
            }
            textarea{
                resize: none;
                height: clamp(80px, 8vw, 100px);
            }
        }
    }
    .modal_button_wrapper{
        gap: 15px;
        justify-content: flex-end;
        align-items: center;
        button{
            border-radius: 6px;
            border: none;
            cursor: pointer;
            font-family: inherit;
        }
        button[type="submit"]{
            background: #e82222;
            color: #FFFFFF;
        }
        button.modal-toggle{
            background: #e8e8e8;
            color: #000;
        }
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media (min-width:480px){
    #sub_invoice_details{
        div{
            flex: 0 1 auto;
            &:not(:last-of-type):after{
                content: '';
                position: absolute;
                right: -15px;
                height: 100%;
                background: #e8e8e8;
                width: 1px;
                top: 0px;
            }
        }
    }
}